/*@import "./utils/functions";*/
/*@import "./utils/extensions";*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.button {
  display: flex;
  border: none;
  background: none;
}
.button__accueil {
  margin: 31px auto;
}
.button__menu {
  flex-direction: row;
  justify-content: center;
  margin: 42px auto;
  padding-bottom: 18%;
}
.button__menu--command {
  padding: 0.9em 2.8em;
  background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  cursor: pointer;
  border-radius: 55px;
  cursor: pointer;
}
.button__menu--command:hover {
  background: linear-gradient(to top, #ae80e5 0%, #fface8 100%);
}

.btn {
  background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  cursor: pointer;
  border-radius: 55px;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(to top, #ae80e5 0%, #fface8 100%);
}

/* &--menu {
      width: 90%;
      font-size: 2.9em;
    }*/
/* header la palette*/
.headerpages__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.5em;
}
.headerpages__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 3em;
  width: 100%;
  text-align: center;
  margin-top: 0.433em;
  padding-right: 2em;
}

.return__accueil {
  text-decoration: none;
  color: black;
}
.return__accueil--icon {
  font-size: 1.9em;
  padding-top: 0.6em;
  padding-left: 1.26em;
}

.nav {
  width: 100%;
  height: 5em;
  margin-top: 0.6em;
  background: linear-gradient(to top, #eaeaea calc(100% - 4px), #cecece 100%);
}
.nav__icon {
  font-size: 1.6em;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  /*justify-content: center;media query*/
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.9em;
  padding-top: 1em;
  margin-left: 1.2em;
  width: 100%;
  /*text-align: center;media query*/
}
.footer__links {
  font-size: 1.6em;
  padding-left: 1.2em;
  padding-top: 1em;
  line-height: 26px;
  list-style: none;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__listlink--contact {
  text-decoration: none;
  color: white;
}
.footer .footer__linkicon {
  padding-right: 0.5em;
}

.restocards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.restocards__container--link {
  text-decoration: none;
  color: black;
}

.form__accueil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-left: 116px;
  margin-top: 16px;
}
.form__accueil input {
  display: inline;
  font-size: 1.6em;
  text-decoration: none;
  color: black;
  border: none;
  background-color: #eaeaea;
}
.form__accueil input::placeholder {
  opacity: 1;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.presentation img {
  height: 262px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 15%;
}
.presentation__heading {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f6f6f6;
  padding-top: 3.6em;
  margin-top: -3.6em;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}
.presentation__heading--iconheart {
  font-size: 2.4em;
}
.presentation__titre {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.6em;
  text-align: center;
}

main {
  background-color: #f6f6f6;
}

/*section class="choix"*/
.choix__heading {
  display: flex;
  align-content: flex-start;
  font-size: 1.7em;
  font-weight: 400;
  padding-top: 1.65em;
  width: 100%;
  padding-left: 1em;
}
.choix__heading--desserts {
  padding-top: 2.7em;
}
.choix .options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
  align-content: center;
  justify-items: center;
  align-items: center;
  list-style: none;
  padding-top: 1.8em;
}
.choix .options__option {
  font-size: 1.6em;
  font-weight: 700;
  height: 72px;
  width: 92%;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  border-radius: 21px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.01);
  background-color: white;
}

.article {
  padding: 8px 14px 12px 10px;
  /*padding: 12px 15px;*/
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
}
.article__heading {
  font-size: 1.1em;
  font-weight: 700;
}
.article__heading--detail {
  font-size: 0.9em;
  font-weight: 400;
  opacity: 0.8;
}
.article__prix {
  align-self: flex-end;
  font-size: 1em;
  position: relative;
  top: -28px;
  left: -2px;
  opacity: 0.7;
}

.footer__menu {
  margin-top: -41px;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.header__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 3em;
  width: 100%;
  text-align: center;
  margin-top: 0.433em;
}

.about {
  padding-top: 3.6em;
  background-color: #f6f6f6;
  height: 28.5em;
}
.about__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.4em;
  text-align: center;
  margin-left: 18px;
  margin-right: 34px;
}
.about__description {
  font-size: 1.8em;
  text-align: center;
  margin-left: 28px;
  margin-right: 21px;
  margin-top: 11px;
}
.about .btn {
  padding: 0.9em 1.5em;
  background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  cursor: pointer;
  border-radius: 55px;
  cursor: pointer;
}
.about .btn:hover {
  background: linear-gradient(to top, #ae80e5 0%, #fface8 100%);
}

.fonctionnement {
  background-color: white;
  padding-top: 4.7em;
  padding-bottom: 6em;
}
.fonctionnement__heading {
  font-family: "Roboto";
  margin-left: 0.875em;
  font-size: 2.4em;
}
.fonctionnement .steps {
  list-style: none;
  counter-reset: counter-steps;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  margin-top: 34px;
}
.fonctionnement .steps__step {
  font-size: 1.6em;
  font-weight: 700;
  height: 72px;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  border-radius: 21px;
  box-shadow: 2px 2px 2px 2px rgba(242, 242, 242, 0.9);
  background-color: #f6f6f6;
  counter-increment: counter-steps;
  width: 90.5%;
  display: flex;
  align-items: center;
  gap: 23px;
}
.fonctionnement .steps__step::before {
  content: counter(counter-steps);
  color: #fff;
  background-color: #9356dc;
  border: 1px solid #9356dc;
  border-radius: 50%;
  padding: 2px 8px 2px 8px;
  font-size: 0.9em;
  transform: translateX(-12px);
}
.fonctionnement .steps__icon {
  font-size: 1.3em;
}

.restaurants {
  background-color: #f6f6f6;
  margin-top: 6.5em;
  padding-bottom: 6em;
}
.restaurants__heading {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 2.4em;
  padding-right: 8.875em;
  padding-bottom: 0.9em;
}
.restaurants .card {
  border: 1px solid #f2f2f2;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.04);
  width: 100%;
  border-radius: 15px;
}
.restaurants .card__image {
  width: auto;
  height: 173px;
  width: 337px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  object-position: 0 68%;
}
.restaurants .card .card__description {
  text-decoration: none;
  padding: 12px 14px;
  font-size: 1.6em;
  height: 74px;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}
.restaurants .card .card__iconheart {
  align-self: flex-end;
  font-size: 24px;
  position: relative;
  top: -41px;
  left: -10px;
}

/*@import "./pages/project";*/

/*# sourceMappingURL=style.css.map */
