*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 10px div by def of 16px
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  max-width: 1500px;
  height: 100%;
  margin: auto;
}

// Pour animations avec delay 'nth child'
// https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition
:nth-child(1) {
  --nth-child: 1;
}
:nth-child(2) {
  --nth-child: 2;
}
:nth-child(3) {
  --nth-child: 3;
}

.spin::before {
  animation: 1.5s linear spinner;
  border: solid 5px $colour-primary;
  border-bottom-color: $colour-secondary;
  border-top-color: $colour-tertiary;
  border-radius: 50%;
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  transition: opacity linear 0.1s;
  animation-fill-mode: forwards;
  animation-name: spin;
}
@keyframes spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
    opacity: 0;
  }
}
