*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 10px div by def of 16px
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  max-width: 1500px;
  height: 100%;
  margin: auto;
}

// Pour animations avec delay 'nth child'
// https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition
:nth-child(1) {
  --nth-child: 1;
}
:nth-child(2) {
  --nth-child: 2;
}
:nth-child(3) {
  --nth-child: 3;
}
