.about {
  margin-top: 1em;
  &__heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    text-align: center;
    margin-left: 18px;
    margin-right: 34px;
    margin-top: 37px;
  }
  &__description {
    font-size: 1.8em;
    text-align: center;
    margin-left: 28px;
    margin-right: 21px;
    margin-top: 11px;
  }
  &__btn {
    /*font-size: 1.6em;
    margin-top: 30px;
    margin-left: 88px;*/
    @include btn;
  }
}
