.about {
  padding-top: 3.6em;
  background-color: #f6f6f6;
  height: 28.5em;
  &__heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.7em;
    text-align: center;
    margin-left: 18px;
    margin-right: 34px;
  }
  &__description {
    font-size: 1.8em;
    font-weight: 100;
    text-align: center;
    margin-top: 11px;
    padding-left: 0px;
  }

  .button__link {
    padding: 0.9em 1.5em;
    @include btn;
  }
}
.fonctionnement {
  background-color: white;
  padding: 4.7em 2em 6em;

  &__heading {
    font-family: "Roboto";
    margin-left: 0.875em;
    font-size: 2.4em;
    @include desktop {
      text-align: center;
    }
  }
  .steps {
    list-style: none;
    counter-reset: counter-steps;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin-top: 34px;
    @include desktop {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    &__step {
      font-size: 1.6em;
      font-weight: 700;
      padding: 21px 1px;
      cursor: pointer;
      border: 1px solid #f2f2f2;
      border-radius: 21px;
      box-shadow: 2px 2px 2px 2px rgba(242, 242, 242, 0.9);
      background-color: #f6f6f6;
      counter-increment: counter-steps;
      width: 100%;
      max-width: 340px;
      display: flex;
      align-items: center;
      gap: 23px;
      &:hover {
        background-color: #f5edff;
      }
      &::before {
        content: counter(counter-steps);
        color: #fff;
        background-color: $colour-primary;
        border: 1px solid $colour-primary;
        border-radius: 50%;
        padding: 2px 8px 2px 8px;
        font-size: 0.9em;
        transform: translateX(-12px);
      }
    }
    &__icon {
      font-size: 1.3em;

      &--active:hover {
        color: $colour-primary;
      }
    }
  }
}
.restaurants {
  background-color: #f6f6f6;
  margin-top: 6.5em;
  padding-bottom: 6em;

  &__heading {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    font-size: 2.4em;
    padding-right: 8.875em;
    padding-bottom: 0.9em;
    @include desktop {
      text-align: center;
      padding-right: 0;
    }
  }
}

.card {
  border: 1px solid #f2f2f2;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.04);
  width: 100%;
  border-radius: 15px;
  position: relative;

  &__image {
    width: 100%;
    height: 173px;
    width: 337px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    object-position: 0 68%;
    @include desktopresto;
    @include desktop {
      height: 250px;
    }
    @include grandecran {
      height: 250px;
    }
  }
  &__new {
    font-size: 1.4em;
    background: #a9e0d1;
    color: #3b8468;
    font-weight: 500;
    padding: 0.7em 1.5em;
    border-radius: 0.3em;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .card__description {
    text-decoration: none;
    padding: 12px 14px;
    font-size: 1.6em;
    height: 74px;
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
  }

  .card__iconheart {
    align-self: flex-end;
    font-size: 24px;
    position: relative;
    top: -41px;
    left: -10px;
    @include heart;
    &:hover {
      @include hearthover;
    }
  }
}
