.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & img {
    height: 262px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 15%;
    @include desktopmenu {
      object-position: 0% 56%;
      justify-content: center;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f6f6f6;
    padding-top: 3.6em;
    margin-top: -3.6em;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;

    &--iconheart {
      font-size: 2.4em;
      @include desktopmenu {
        font-size: 3.5em;
      }
    }
  }
  &__titre {
    font-family: "Shrikhand", sans-serif;
    font-size: 2.6em;
    text-align: center;
    @include desktopmenu {
      font-size: 3em;
    }
  }
}
main {
  background-color: #f6f6f6;
}
/*section class="selection"*/

.selections {
  @include desktop {
    display: flex;
  }
  @include grandecran {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &__selection {
    padding: 4em 0em 0em 0.9em;
    max-width: 100%;
    @include grandecran {
      max-width: 30%;
      margin: auto;
    }
  }

  &__heading {
    display: flex;
    align-content: flex-start;
    font-size: 1.7em;
    font-weight: 400;
    padding-top: 1.65em;
    width: 100%;
    padding-left: 1.1em;
  }
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
  align-content: center;
  justify-items: center;
  align-items: center;
  list-style: none;
  padding-top: 1.8em;
  @include desktopmenu {
    gap: 5em;
  }
  &__option {
    padding: 8px 14px 12px 10px;
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 9px;
    font-size: 1.6em;
    font-weight: 700;
    height: 72px;
    width: 92%;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    border-radius: 21px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.01);
    background-color: white;
    @include desktopmenu {
      height: auto;
      padding: 4px 0 4px 8px;
    }
  }
  &__heading {
    font-size: 1em;
    font-weight: 700;
  }
  &__detail {
    font-size: 0.9em;
    font-weight: 400;
    opacity: 0.8;
  }
  &__price {
    align-self: flex-end;
    font-size: 1em;
    position: relative;
    top: -28px;
    left: -2px;
    opacity: 0.7;
    @include desktopmenu {
      top: -44px;
      left: -45px;
    }
    @include grandecran {
      top: 2px;
      left: 0;
      align-self: flex-start;
    }
  }
}
