.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & img {
    height: 262px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 15%;
  }
  &__heading {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f6f6f6;
    padding-top: 3.6em;
    margin-top: -3.6em;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;

    &--iconheart {
      font-size: 2.4em;
    }
  }
  &__titre {
    font-family: "Shrikhand", sans-serif;
    font-size: 2.6em;
    text-align: center;
  }
}
main {
  background-color: #f6f6f6;
}
/*section class="choix"*/
.choix {
  &__heading {
    display: flex;
    align-content: flex-start;
    font-size: 1.7em;
    font-weight: 400;
    padding-top: 1.65em;
    width: 100%;
    padding-left: 1em;
    &--desserts {
      padding-top: 2.7em;
    }
  }
  .options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    align-content: center;
    justify-items: center;
    align-items: center;
    list-style: none;
    padding-top: 1.8em;
    &__option {
      @include options;
    }
  }
}

.article {
  padding: 8px 14px 12px 10px;
  /*padding: 12px 15px;*/
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
  &__heading {
    font-size: 1.1em;
    font-weight: 700;
    &--detail {
      font-size: 0.9em;
      font-weight: 400;
      opacity: 0.8;
    }
  }
  &__prix {
    align-self: flex-end;
    font-size: 1em;
    position: relative;
    top: -28px;
    left: -2px;
    opacity: 0.7;
  }
}

.footer__menu {
  margin-top: -41px;
}
