$breakpoints: (
  desktop: 599px,
  grandecran: 900px,
  desktopselection: 737px,
);
$card: (
  width: 457px,
  height: 250px,
);

$heading: (
  padding: 0 0 1em,
);

@mixin desktop {
  @media all and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
@mixin desktopresto {
  @media all and (min-width: map-get($breakpoints, desktop)) {
    width: map-get($card, width);
    padding: map-get($heading, padding);
  }
}

@mixin grandecran {
  @media all and(min-width: map-get($breakpoints, grandecran)) {
    @content;
  }
}
@mixin desktopselection {
  @media all and(min-width: map-get($breakpoints, desktopselection)) {
    @content;
  }
}
@mixin bgcolour {
  background: linear-gradient(to top, $colour-primary 0%, $colour-secondary 100%);
}

@mixin btn {
  background: linear-gradient(to top, $colour-primary 0%, $colour-secondary 100%);
  color: white;
  text-decoration: none;
  font-size: calc(1.2em + 0.33vw);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  cursor: pointer;
  border-radius: 55px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    border-radius: 55px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, lighten($colour-primary, 10%) 0%, lighten($colour-secondary, 10%) 100%);
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
}

@mixin desktopfooter {
  @media all and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin hearthover {
  color: #fff;
  font-weight: 600;
  background-clip: border-box;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
  background-clip: text;

  background-position: bottom;
  animation: animationheart 125ms forwards;
}
@mixin heart {
  cursor: pointer;
  transition: all 125ms ease-in-out;
}
