$breakpoints: (
  desktop: 599px,
  grandecran: 900px,
);
$card: (
  width: 457px,
  height: 250px,
);

$heading: (
  padding: 0 0 1em,
);

@mixin desktop {
  @media all and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
@mixin desktopresto {
  @media all and (min-width: map-get($breakpoints, desktop)) {
    width: map-get($card, width);
    padding: map-get($heading, padding);
  }
}

@mixin desktopmenu {
  @media all and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin grandecran {
  @media all and(min-width: map-get($breakpoints, grandecran)) {
    @content;
  }
}

@mixin border($colour: $colour-secondary) {
  border: 0.1rem solid $colour;
}

@mixin btn {
  background: linear-gradient(to top, $colour-primary 0%, $colour-secondary 100%);
  color: white;
  text-decoration: none;
  font-size: calc(1.2em + 0.33vw);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  cursor: pointer;
  border-radius: 55px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(to top, lighten($colour-primary, 10%) 0%, lighten($colour-secondary, 10%) 100%);
  }
}

@mixin images {
  height: 173px;
  width: 337px;
  max-width: 456px; /* 17 x 15px (15px = 1% du max-width du body)*/
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  object-position: 0 68%;
}

@mixin options {
  font-size: 1.6em;
  font-weight: 700;
  height: 72px;
  width: 92%;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  border-radius: 21px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.01);
  background-color: white;
}
@mixin desktopfooter {
  @media all and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
