.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  @include desktopfooter {
    justify-content: center;
    text-align: center;
  }

  &__logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.9em;
    padding-top: 1em;
    margin-left: 1.2em;
    width: 100%;
    @include desktopfooter {
      justify-content: center;
      text-align: center;
    }
  }

  &__links {
    font-size: 1.6em;
    padding-left: 1.2em;
    padding-top: 1em;
    line-height: 26px;
    list-style: none;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__listlink {
    text-decoration: none;
    color: white;
  }
  .footer__linkicon {
    padding-right: 0.5em;
  }
}
