.form__accueil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-left: 116px;
  margin-top: 16px;
  overflow: hidden;
  & input {
    display: inline;
    font-size: 1.6em;
    text-decoration: none;
    color: black;
    border: none;
    background-color: #eaeaea;
    width: 252px;
  }
  & input::placeholder {
    opacity: 1;
  }
}
