/*header accueil*/
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  &__logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 0.433em;
  }
  &__navrestaurant {
    position: absolute;
  }
  &__return {
    text-decoration: none;
    color: black;
    &--icon {
      font-size: 1.9em;
      padding-top: 0.6em;
      padding-left: 1.26em;
    }
  }
}
