.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  &__logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 0.433em;
  }
}
